<!DOCTYPE HTML>
<html lang="es" xmlns:layout="http://www.w3.org/1999/xhtml" 
				layout:decorate="~{fragments/main_layout}"
				xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<title>Vibes</title>
</head>
<body>
	<!-- [ Main Content ] start -->
    <div id="page" layout:fragment="content">
       
       
       
    </div>
    <!-- [ Main Content ] end -->
    
    
    <div layout:fragment="cssSources">
   	
    </div>
    <div layout:fragment="javascriptSources">
   	
    </div>
</body>
</html>