<!DOCTYPE HTML>
<html lang="es" xmlns:layout="http://www.w3.org/1999/xhtml" 
				layout:decorate="~{fragments_admin/main_layout}"
				xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<title>Vibes</title>
</head>
<body>
	<!-- [ Main Content ] start -->
    <div class="content-wrapper" layout:fragment="content">
       <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/admin-panel">Inicio</a>
        </li>
        <li class="breadcrumb-item active">Nueva experiencia</li>
      </ol>
	  <!-- INFO GENERAL -->
      <div class="box_general padding_bottom">
			<div class="header_box version_2">
				<h2><i class="fa fa-file"></i>Informaci&oacute;n general</h2>
			</div>
			<div class="row">
				<div class="col-md-9">
					<div class="form-group">
						<label>Titulo</label>
						<input type="text" class="form-control" placeholder="">
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label>Categoria</label>
						<div class="styled-select">
							<select>
								<option selected>Seleccionar...</option>
								<option>Experiencia</option>
								<option>Tour</option>
								<option>Espectaculo</option>
								<option>Translado</option>
							</select>
						</div>
					</div>
				</div>
			</div>
			<!-- /row-->
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label>Descripci&oacute;n</label>
						<textarea class="form-control"> </textarea>
					</div>
				</div>
			</div>
			<!-- /row-->
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label>Duraci&oacute;n</label>
						<input type="text" class="form-control">
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label>Nivel de Actividad</label>
						<div class="styled-select">
							<select>
							 	<option selected>Seleccionar...</option>
								<option>Baja</option>
								<option>Media</option>
								<option>Alta</option>
							</select>
						</div>
					</div>
				</div>
			</div>
			<!-- /row-->
			
			<!-- /row-->
		</div>
		<!-- END INFO GENERAL -->
		<!-- LOCATION -->
		<div class="box_general padding_bottom">
			<div class="header_box version_2">
				<h2><i class="fa fa-map-marker"></i>Locaci&oacute;n</h2>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label>Pais</label>
						<input type="text" class="form-control" value="M&eacute;xico" disabled="disabled">
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label>Estado</label>
						<div class="styled-select">
							<select>
							 	<option selected>Seleccionar...</option>
								<option>San Luis Potosi </option>
								<option>Veracruz</option>
								<option>Oaxaca</option>
								<option>Morelos</option>
							</select>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label>Punto de partida</label>
						<input type="text" class="form-control">
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label>Punto de regreso</label>
						<input type="text" class="form-control">
					</div>
				</div>
			</div>
			<!-- /row-->
		</div>
		<!-- END LOCATION -->
	  </div>
    </div>
    <!-- [ Main Content ] end -->
    <div layout:fragment="cssSources">
   	
    </div>
    <div layout:fragment="javascriptSources">

    </div>
</body>
</html>