<!DOCTYPE HTML>
<html lang="es" xmlns:layout="http://www.w3.org/1999/xhtml" 
				layout:decorate="~{fragments/main_layout}"
				xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<title>Armonii</title>
</head>
<body>
	<!-- [ Main Content ] start -->
    <div class="pcoded-main-container" layout:fragment="content">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                        <h5 id="agency-name" class="m-b-10"></h5>
                                    </div>
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                                        <li class="breadcrumb-item"><a href="#!">Experiencias</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
	                           <div class="col-12 col-sm-6 col-md-4 col-lg-3">
	                               <div class="card">
	                                   <img class="card-img-top" src="https://static.wixstatic.com/media/c54ae4_7a30d6d8e62f4f32a04b8c64d1d55306~mv2.jpg/v1/fill/w_940,h_529,al_c,q_85/c54ae4_7a30d6d8e62f4f32a04b8c64d1d55306~mv2.webp" alt="Card image cap">
	                                   <div class="card-body">
	                                       <h5 class="card-title">¡CELEBRAMOS FIN DE AÑO EN CHACAHUA!</h5>
	                                       <p class="card-text">
	                                       ¡Recibe el año nuevo en la playa! En este viaje podrás participar en la liberación de tortuguitas y ser testigo de la bioluminiscencia, entre otras aventuras más. En fin de año habrá cena y fuegos pirotécnicos a pie de playa. 
	                                       </p>
	                                       <button class="btn-sm btn-primary shadow-2 btn-square">Detalles</button>
	                                   </div>
	                                   <div class="card-footer">
	                                       <small class="text-muted">Última actualización hace 3 minutos</small>
	                                   </div>
	                               </div>
	                           </div>
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->
</body>
</html>