<!DOCTYPE HTML>
<html lang="es" xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{fragments_admin/main_layout}"
	xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<title>Vibes mx</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="row pt-1">
			<div class="col-sm-4">
				<div class="row pt-4">
					<div class="col-md">
						<!--Profile Card -->
						<div class="card profile-card-5 hoverable">
							<div class="card-img-block">
								<img class="card-img-top"
									src="https://images.unsplash.com/photo-1517832207067-4db24a2ae47c"
									alt="Card image cap">
							</div>
							<div class="card-body pt-0">
								<h5 class="card-title text-center">¡Hola, Diego!</h5>
								<p class="card-text">
									Al parecer no tienes nuevas notificaciónes
								</p>
								<div class="float-right">
									<a href="/" class="btn btn-primary">Ir al sitio</a>
									<a href="#" class="btn btn-primary">Editar</a>
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-8">
				<div class="row pt-4">
					<div class="col-md">
						<div class="card hoverable">
							<h5 class="card-header">De Viaje Y Aventura</h5>
							<div class="card-body">
								<h5 class="card-title">Special title treatment</h5>
								<p class="card-text">With supporting text below as a natural
									lead-in to additional content.</p>
								<div class="float-right">
									<a href="/a-payments" class="btn btn-primary">Ir a Eventos</a>
								</div>
							</div>
						</div>					
					</div>
				</div>
				<div class="row pt-4">
					<div class="col-md">
						<div class="card hoverable">
							<h5 class="card-header">Proximos Eventos</h5>
							<div class="card-body">
								<h5 class="card-title">Special title treatment</h5>
								<p class="card-text">With supporting text below as a natural
									lead-in to additional content.</p>
								<div class="float-right">
									<a href="/a-events" class="btn btn-primary">Ir a Pagos</a>
								</div>
							</div>
						</div>					
					</div>
				</div>
			</div>
		</div>
		<div layout:fragment="javascriptSources"></div>
	</div>
</body>
</html>