/* YOUR CUSTOM CSS */

@font-face {
    font-family: 'Montserrat-Light'; /*a name to be used later*/
    src: url('../../fonts/Montserrat/Montserrat-Light.ttf'); /*URL to font*/
}
@font-face {
    font-family: 'Montserrat-Regular'; /*a name to be used later*/
    src: url('../../fonts/Montserrat/Montserrat-Regular.ttf'); /*URL to font*/
}

body {
  font-size: 0.875rem;
  line-height: 1.6;
  font-family: "Montserrat-Regular";
}

.breadcrumb{
	background-color: #FFF !important;
}

.gradient-45deg-purple-deep-orange {
    background: -webkit-linear-gradient(45deg,#ff0364,#ff6e40)!important;
    background: linear-gradient(45deg,#ff0364,#ff6e40)!important;
}