/* YOUR CUSTOM CSS */

@font-face {
    font-family: 'Montserrat-Light'; /*a name to be used later*/
    src: url('../../fonts/Montserrat/Montserrat-Light.ttf'); /*URL to font*/
}
@font-face {
    font-family: 'Montserrat-Regular'; /*a name to be used later*/
    src: url('../../fonts/Montserrat/Montserrat-Regular.ttf'); /*URL to font*/
}

body {
  font-size: 0.875rem;
  line-height: 1.6;
  font-family: "Montserrat-Regular";
}

.breadcrumb{
	background-color: #FFF !important;
}

.gradient-45deg-purple-deep-orange {
    background: #304ffe;
    /*
    background: -webkit-linear-gradient(45deg,#304ffe,#ff4081)!important;
    background: linear-gradient(45deg,#304ffe,#ff4081)!important;
    */
}

.nav-link-pink {
	color: #304ffe !important;
}

.nav-link {
	color: #FFF;
}

.color-white {
	color: #FFF !important;
}

.color-badge-admin{
	color: #00bcd4 !important;
}

.header-search-input{
	color: #fff !important;
    border: 1px solid rgba(230,230,230,.05);
    background: rgba(230,230,230,.3);
}

.header-search-input:hover{
	color: #333 !important;
    border-bottom: none !important;
    background: #FFF !important;
     -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header-search-input:focus{
	color: #333 !important;
    border-bottom: none !important;
    background: #FFF !important;
     -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header-search-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #FFF;
}

.navbar-toggler {
	font-size: 2rem !important;
}
