<!DOCTYPE HTML>
<html lang="es" xmlns:layout="http://www.w3.org/1999/xhtml" 
				layout:decorate="~{fragments/main_layout}"
				xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<title>Armonii</title>
<link rel="stylesheet" th:href="@{application/css/partner/experience.css}">
</head>
<body>
	<!-- [ Main Content ] start -->
    <div class="pcoded-main-container" layout:fragment="content">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header ">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                        <h5 id="agency-name" class="m-b-10"></h5>
                                    </div>
                                    <ul class="breadcrumb hidden-xs-down">
                                        <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                                        <li class="breadcrumb-item"><a href="/experiences">Experiencias</a></li>
                                        <li class="breadcrumb-item">¡VALLE DE BRAVO, FESTIVAL DE LAS ALMAS!</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <!-- [ Information ] start -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>N&uacute;mero serie. </h5><span th:text="${idExperience}"></span>
                                            <div class="card-header-right">
                                                <div class="btn-group card-option">
                                                    <button type="button" class="btn dropdown-toggle btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <i class="feather icon-more-horizontal"></i>
                                                    </button>
                                                    <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                                                        <li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i> pantalla completa </span><span style="display:none"><i class="feather icon-minimize"></i>salir de pantalla completa </span></a></li>
                                                        <li class="dropdown-item minimize-card"><a href="#!"><span><i class="feather icon-minus"></i> contraer</span><span style="display:none"><i class="feather icon-plus"></i> expandir</span></a></li>
                                                        <li class="dropdown-item close-card"><a href="#!"><i class="feather icon-trash"></i> eliminar</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-block-min-padding card-block">
                                            <!-- [ Information ] start -->
			                            	<div class="row mt-3 mb-4">
				                            	<div class="col-sm-12">
				                                    <div class="row">
				                                        <div class="col-md-3 col-sm-12">
				                                            <ul class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
				                                                <li><a class="nav-link text-left active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">General</a></li>
				                                                <li><a class="nav-link text-left" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Reservaciones</a></li>
				                                                <li><a class="nav-link text-left" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Itinerario</a></li>
				                                                <li><a class="nav-link text-left" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Im&aacute;genes</a></li>
				                                            </ul>
				                                        </div>
				                                        <div class="col-md-9 col-sm-12">
				                                            <div class="tab-content tab-content-less-padding" id="v-pills-tabContent">
				                                                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
				                                                    
				                                                    <div class="row">
					                                                    <div class="form-group col-md-8">
					                                                        <label for="inputTitle">T&iacute;tulo:</label>
					                                                        <input type="text" class="form-control" id="inputTitle" placeholder="">
					                                                    </div>
					                                                    <div class="form-group col-md-2">
					                                                        <label for="inputDisponibles">Disponibles:</label>
					                                                        <input type="text" class="form-control" id="inputDisponibles" placeholder="">
					                                                    </div>
					                                                    <div class="form-group col-md-2">
					                                                        <label for="inputReservados">Reservados:</label>
					                                                        <input type="text" readonly class="form-control" id="inputReservados" placeholder="">
					                                                    </div>
					                                                </div>
					                                                
					                                                <div class="row">
					                                                	<div class="col-md-4">
						                                                	<div class="form-group ">
						                                                        <label for="date-start">Fecha partida:</label>
						                                                        <input type="text" id="departDate" class="form-control" placeholder="">
						                                                    </div>
						                                                    <div class="form-group ">
						                                                        <label for="date-end">Fecha Regreso:</label>
						                                                        <input type="text" id="returnDate" class="form-control" placeholder="">
						                                                    </div>
					                                                	</div>
					                                                	<div class="col-md-8">
					                                                		<div class="form-group" >
					                                                            <label for="exampleFormControlTextarea1">Descripci&oacute;n:</label>
					                                                            <textarea class="form-control" style="height: 130px" id="textareaDescription" ></textarea>
					                                                        </div>
					                                                	</div>
					                                                </div>
					                                                <div class="row">
					                                                	<div class="col-md-12">
					                                                		<button id="btnSubmit" type="button" class="btn-sm btn-primary shadow-2 btn-square float-right" disabled>Guardar</button>
					                                                	</div>
					                                                </div>
				                                                </div>
				                                                <!-- [ Reservaciones ] start -->
				                                                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
				                                                    <div id="table-reservaciones-row" class="row">
				                                                    	<div class="col-md-12">
					                                                    	<div class="table-responsive">
								                                                <table id="table-reservaciones" class="display table nowrap table-hover table-bordered" style="width: 100%">
								                                                    <thead>
								                                                        <tr>
								                                                        	<th>Id reservaci&oacute;n</th>
								                                                            <th>Nombre</th>
								                                                            <th>Estatus</th>
								                                                        </tr>
								                                                    </thead>
								                                                    <tbody>
								                                                    </tbody>
								                                                </table>
								                                            </div>
				                                                    	</div>
				                                                    </div>
				                                                </div>
				                                                <!-- [ Reservaciones ] end -->
				                                                <!-- [ Timeline ] start -->
				                                                <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
														        	<div class="row">
														        		<div class="col-sm-12">
														        			<button id="btnSubmit" type="button" class="btn-sm btn-primary shadow-2 btn-square float-right">Cambiar</button>
														        		</div>
														        	</div>	
														        	<div class="row">
														        		<div class="col-sm-12">
														        			 <ul class="timeline">
																                  <li class="timeline-item bg-white rounded ml-3 pl-4 pt-2 pb-1 shadow">
																                      <div class="timeline-arrow"></div>
																                      <span class="small text-gray"><i class="fa fa-clock-o mr-1"></i>07:30 a.m.</span>
																                      <p class="text-small mt-2 font-weight-light">
																                      	Visita y entrada a la Zona Arqueológica de Palenque (recorrido guiado)
																                      </p>
																                  </li>
																                  <li class="timeline-item bg-white rounded ml-3 pl-4 pt-2 pb-1 shadow">
																                      <div class="timeline-arrow"></div>
																                      <span class="small text-gray"><i class="fa fa-clock-o mr-1"></i>10:30 a.m.</span>
																                      <p class="text-small mt-2 font-weight-light">
																                      	Visita y entrada a las cascadas de Roberto Barrios.
																                      </p>
																                  </li>
																              </ul>
														        		</div>
														        	</div>
				                                                </div>
				                                                <!-- [ Timeline ] end -->
				                                                <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
									                                 <!-- [ single-lightbox-cover ] start -->
				                                                   
									                                <!-- [ single-lightbox-slide] end -->
				                                                </div>
				                                            </div>
				                                        </div>
				                                    </div>
				                                </div>
			                            	</div>
			                            	<!-- [ Information ] end -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ images ] end -->

                            <!-- [ Main Content ] end -->
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->
    <div layout:fragment="javascriptSources">
	   	<!-- datatable Js -->
	   	<script th:src="@{plugins/data-tables/js/datatables.min.js}"></script>
	   	<!-- material datetimepicker Js -->
	    <script src="http://momentjs.com/downloads/moment-with-locales.min.js"></script>
	    <script th:src="@{plugins/material-datetimepicker/js/bootstrap-material-datetimepicker.js}"></script>
	    <!-- ekko-lightbox Js -->
	    <script th:src="@{plugins/ekko-lightbox/js/ekko-lightbox.min.js}"></script>
	    <script th:src="@{plugins/lightbox2-master/js/lightbox.min.js}"></script>
	    <script th:src="@{js/pages/ac-lightbox.js}"></script>
	   	<!-- experiences js -->
	   	<script th:src="@{application/js/partner/experience.js}"></script>
    </div>
</body>
</html>