<!DOCTYPE HTML>
<html lang="es" xmlns:layout="http://www.w3.org/1999/xhtml" 
				layout:decorate="~{fragments/main_layout}"
				xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<title>Armonii</title>
</head>
<body>
	<!-- [ Main Content ] start -->
    <div class="pcoded-main-container" layout:fragment="content">
       
    </div>
    <div layout:fragment="cssSources">
   	
    </div>
    <div layout:fragment="javascriptSources">
   	<!-- datatable Js -->
   	<script th:src="@{plugins/data-tables/js/datatables.min.js}"></script>
   	<script th:src="@{application/js/dashboard.js}"></script>
    </div>
    <!-- [ Main Content ] end -->
    
</body>
</html>