<!DOCTYPE HTML>
<html lang="es" xmlns:layout="http://www.w3.org/1999/xhtml" 
				layout:decorate="~{fragments/main_layout}"
				xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<title>Armonii</title>
</head>
<body>
	<!-- [ Main Content ] start -->
    <div class="pcoded-main-container" layout:fragment="content">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                        <h5 id="agency-name" class="m-b-10"></h5>
                                    </div>
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                                        <li class="breadcrumb-item"><a href="#!">Panel de control</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <!-- [ online-order section ] start -->
                                <div class="col-md-6 col-xl-4">
                                    <div class="card Online-Order">
                                        <div class="card-block">
                                            <h5>Experiencias realizadas</h5>
                                            <h6 class="text-muted d-flex align-items-center justify-content-between m-t-30">Delivery Orders<span class="float-right f-18 text-c-green">237 / 400</span></h6>
                                            <div class="progress mt-3">
                                                <div class="progress-bar progress-c-theme" role="progressbar" style="width:65%;height:6px;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            <span class="text-muted mt-2 d-block">37% Done</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-xl-4">
                                    <div class="card Online-Order">
                                        <div class="card-block">
                                            <h5>Experiencias pendientes</h5>
                                            <h6 class="text-muted d-flex align-items-center justify-content-between m-t-30">Ordenes pendientes<span class="float-right f-18 text-c-purple">100 / 500</span></h6>
                                            <div class="progress mt-3">
                                                <div class="progress-bar progress-c-theme2" role="progressbar" style="width:50%;height:6px;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            <span class="text-muted mt-2 d-block">20% Pending</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-xl-4">
                                    <div class="card Online-Order">
                                        <div class="card-block">
                                            <h5>Experiencias Sold out</h5>
                                            <h6 class="text-muted d-flex align-items-center justify-content-between m-t-30">Órdenes de devolución<span class="float-right f-18 text-c-blue">50 / 400</span></h6>
                                            <div class="progress mt-3">
                                                <div class="progress-bar progress-c-blue" role="progressbar" style="width:40%;height:6px;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            <span class="text-muted mt-2 d-block">10% Return</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- [ online-order section ] end -->

                                <!-- [ full width-table ] start -->
                                <div class="col-xl-12 col-md-12">
                                    <div class="card code-table">
                                        <div class="card-header">
                                            <h5>Mis Experiencias</h5>
                                            <div class="card-header-right">
                                                <div class="btn-group card-option">
                                                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <i class="feather icon-more-horizontal"></i>
                                                    </button>
                                                    <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                                                        <li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i> pantalla completa </span><span style="display:none"><i class="feather icon-minimize"></i>salir de pantalla completa </span></a></li>
                                                        <li class="dropdown-item minimize-card"><a href="#!"><span><i class="feather icon-minus"></i> contraer</span><span style="display:none"><i class="feather icon-plus"></i> expandir</span></a></li>
                                                        <li class="dropdown-item close-card"><a href="#!"><i class="feather icon-trash"></i> eliminar</a></li>
                                                    </ul>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-block pb-0">
                                        	<div id="loanding-experiences" class="d-flex justify-content-center">
                                                <div class="spinner-border spinner-border-sm" role="status">
                                                    <span class="sr-only">Cargando...</span>
                                                </div>
                                            </div>
                                            <div id="container-experiences-table" class="table-responsive d-none">
                                                <table id="experiences-table" class="display table nowrap table-bordered table-hover" style="width: 100%">
                                                    <thead>
                                                        <tr>
                                                            <th>Nombre</th>
                                                            <th>Partida</th>
                                                            <th>Regreso</th>
                                                            <th>Estatus</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <br>
                                        </div>
                                    </div>
                                </div>
                                <!-- [ full width-table ] end -->
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div layout:fragment="cssSources">
   	
    </div>
    <div layout:fragment="javascriptSources">
   	<!-- datatable Js -->
   	<script th:src="@{plugins/data-tables/js/datatables.min.js}"></script>
   	<script th:src="@{application/js/dashboard.js}"></script>
    </div>
    <!-- [ Main Content ] end -->
    
</body>
</html>