<header class="header menu_fixed" th:fragment="header" 
		xmlns:th="http://www.w3.org/1999/xhtml"
		xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	
	<div id="preloader"><div data-loader="circle-side"></div></div><!-- /Page Preload -->
	<div id="logo">
		<a href="/">
			<img src="img/logos/White.svg" width="130" data-retina="true" alt="" class="logo_normal">
			<img src="img/logos/White.svg" width="130" data-retina="true" alt="" class="logo_sticky">
		</a>
	</div>
	<!-- /top_menu -->
	<a href="#menu" class="btn_mobile">
			<div class="hamburger hamburger--spin" id="hamburger">
				<div class="hamburger-box">
					<div class="hamburger-inner"></div>
				</div>
			</div>
		</a>
	<nav id="menu" class="main-menu">
			<ul>
				<li><span><a href="adventure.html">Mi carrito <i class="icon-shop-1"></i></a></span></li>
				<li><span><a href="#0">Mis favoritos <i class="icon-heart-7"></i></a></span></li>
				<li sec:authorize="!isAuthenticated()"><span><a href="#sign-in-dialog" id="sign-in">Iniciar sesi&oacute;n <i class="icon-user-7"></i></a></span></li>
			</ul>
		</nav>
</header>