<header th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
	<style type="text/css">
		.nav {
			background-color: rgb(255, 255, 255);
			height: 77px;
		}
		
		.border-nav {
			width: 100%;
			border-bottom: 1px solid rgba(219, 219, 219, 1);
		}
		
		.icon-logo {
			height: 24px;
			width: 24px;
			border-right: 1px solid #000;
		}
	</style>
	<div class="container ">
		<div class="row nav padding-top-30px">
			<div class="col-2 col-md-1  icon-logo text-center">
				<i class="material-icons"> local_florist </i>
			</div>
			<div class="col-md-2 d-sm-none d-none d-md-block d-lg-block d-xl-block">
				Armonii
			</div>
			<div class="col-2 offset-xs-4 col-md-1 offset-md-6">
				<i class="material-icons"> public</i>
			</div>
			<div class="col-2 col-md-1">
				<i class="material-icons"> star_border</i>
			</div>
			<div class="col-2 col-md-1">
				<i class="material-icons"> perm_identity</i>
			</div>
		</div>
	</div>
	<div class="border-nav"></div>
</header>